Config { 
	-- apperance
	font = "xft:FiraCode Nerd Font:weight=regular:pixelsize=14:antialias=true"
       , additionalFonts = ["xft:Mononoki Nerd Font:weight=bold:pixelsize=16:antialias=true"]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#282828"
       , fgColor = "grey"
       , alpha = 255
       , position = TopH 22
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = True
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [
		Run UnsafeStdinReader
                ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " %UnsafeStdinReader% }{"
}
